html {
    min-width: 900px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(171, 192, 245);
    padding-inline: 20px;
}

header h1 {
    color: white;
    margin-right: 10px;
}

header a {
    color: black;
    text-decoration: none;
    margin-inline: 40px;
    font-size: 30px;
    padding-inline: 4px;
}

header a:hover {
    color: #434343;
}

a.active {
    color: #004ca5 !important;
    outline: 2px solid #004ca5;
}

main {
    padding: 10px;
    max-width: 1200px;
    justify-self: center;
}

.overview h2, .overview p {
    justify-self: center;
}

.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.three-column ul {
    padding-left: 20px;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#week1, #week2, #week3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #d3dff5;
    padding: 15px;
    margin-inline: 5px;
}

#week1 h3, #week2 h3, #week3 h3 {
    align-self: center;
    margin-block: 10px;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    padding: 5px;
}

#week1 span, #week2 span, #week3 span {
    font-weight: bold;
}

.week-assignments h2 {
    background-color: rgb(171, 192, 245);
    color: white;
    padding: 10px;
}

.week-assignments a {
    color: blue;
}

.week-assignments ul {
    padding-left: 20px;
}

.week-assignments li {
    padding-block: 5px;
}

.overview table {
    min-width: 880px;
}

.overview .table-header {
    background-color: #b2c8ff;
}

.overview .table-row{
    background-color: #dce8ff;
}

.overview td, .overview tr {
    padding:10px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(171, 192, 245);
    padding-inline: 20px;
    padding-block: 10px;
    justify-content: center;
    margin-top: 10px;
}

footer span {
    margin-inline: 50px;
}