body {
    background-image: url("../img/background.jpeg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-items: center;
    font-family: "Arial", sans-serif;
}

header {
    display: block;
    justify-items: center;
    background-color: rgba(0, 0, 150, 0.65);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: fit-content;
}

h1 {
    width: fit-content;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 150, 0.55);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    margin: 0;
}

h2 {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px rgba(100, 100, 255, 0.7),
                1px -1px 5px rgba(100, 100, 255, 0.7),
                -1px 1px 5px rgba(100, 100, 255, 0.7),
                -1px -1px 5px rgba(100, 100, 255, 0.7);
    padding: 0;
    margin: 0;
    font-size: 30px;
}

#insContainer {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 150, 0.65);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 800px;
}

h3 {
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    margin: 0;
    font-size: 25px;
    text-shadow: 1px 1px 5px rgba(100, 100, 255, 0.7),
                1px -1px 5px rgba(100, 100, 255, 0.7),
                -1px 1px 5px rgba(100, 100, 255, 0.7),
                -1px -1px 5px rgba(100, 100, 255, 0.7);
}

#instructions {
    justify-self: center;
    padding: 10px;
    justify-items: left;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 150, 0.55);
    border-radius: 10px;
    font-size: 19px;
    width: 760px;
    height: fit-content;
}

#instructions p {
    margin: 0;
    padding: 0;
}

#instructions ul {
    padding: 0 0 0 15px;
    margin: 10px 0;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 150, 0.65);
    border-radius: 10px;
    width: 600px;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}

#statusDisplay {
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    margin: 10px;
}

#winDisplay {
    background-color: rgba(255, 255, 255, 0.55);
    width: 15%;
    padding: 10px;
    border-radius: 10px;
}

#status {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.55);
    width: 45%;
    padding: 10px;
    margin-inline: 15px;
    border-radius: 10px;
    font-size: 20px;
}

#lossDisplay {
    background-color: rgba(255, 255, 255, 0.55);
    width: 15%;
    padding: 10px;
    border-radius: 10px;
}

#guessField {
    display: flex;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.55);
    width: 90%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

#guessField input {
    width: 50%;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    margin-inline: 10px;
}

#guessBtn {
    width: 20%;
    height: 35px;
    font-size: 15px;
    background-color: rgba(220, 220, 220, 0.80);
}

#guessBtn:hover {
    transition: background-color 0.5s ease,
    color 0.5s ease;
    background-color: rgba(100, 100, 255, 1);
    color: white;
    cursor: pointer;
}

#resetBtn {
    width: 20%;
    height: 35px;
    font-size: 15px;
    background-color: rgba(220, 220, 220, 0.80);
}

#resetBtn:hover {
    transition: background-color 0.5s ease,
                color 0.5s ease;
    background-color: rgba(255, 100, 100, 1);
    color: white;
    cursor: pointer;
}

#prevGuesses {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(200, 0, 0, 0.65);
    width: 92%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    text-shadow: 1px 1px 5px rgba(155, 0, 0, 0.4),
                1px -1px 5px rgba(155, 0, 0, 0.4),
                -1px 1px 5px rgba(155, 0, 0, 0.4),
                -1px -1px 5px rgba(155, 0, 0, 0.4);
}

#prevGuesses p {
    margin: 0;
    padding: 0;
    align-self: center;
}

#lowGuesses {
    display: flex;
    height: 25px;
    justify-self: left;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 255, 0.55);
    margin: 4px 10px 4px 4px;
    padding: 4px;
    width: 40%;
    border-radius: 10px;
}

#highGuesses {
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 99, 0, 0.55);
    margin: 4px;
    padding: 4px;
    width: 40%;
    border-radius: 10px;
    font-size: 15px;
}