img {
    width: 23px;
    margin: 0 0 4px;
}

.bg-warning, .bg-success {
    width: fit-content;
    justify-self: center;
    padding: 2px 24px;
}

hr {
    width: 90%;
    justify-self: center;
}

h3 {
    font-size: 20px;
}

.qContainer {
    justify-self: center;
    border: 1px solid black;
    padding: 10px;
    width: 800px;
    background-color: #98d2ea;
}

.qHeader {
    display: flex;
    border: 1px solid black;
    background-color: #4289a6;
    justify-content: center;
}

.qIndex {
    font-size: 24px;
    margin-right: 10px;
    color: white;
}
footer {
    padding: 10px;
    color: white;
    background-color: #4289a6;
}